@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body.\000039gag {
  background-color: #FFF;
  color: #000;
  font-family: 'Arimo', sans-serif;
  font-size: 16px; }

/* Navigation */
.\000039gag nav#main-nav {
  background-color: #000; }
  .\000039gag nav#main-nav a {
    color: #FFF; }
  .\000039gag nav#main-nav a.selected {
    text-decoration: underline;
    font-size: 18px; }

.\000039gag .source-link {
  font-family: "Courier New"; }

.\000039gag .container {
  max-width: 700px; }

.\000039gag #content {
  padding: 10px 60px; }

.\000039gag .btn {
  border-radius: 4px; }
  .\000039gag .btn-primary {
    padding: 20px 100px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center; }
  .\000039gag .btn-gallery-nav {
    padding: 15px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #333;
    border-radius: 5px;
    border: none; }

.\000039gag .navbar-toggle {
  border: 1px solid #DDD;
  transition: background-color 0.5s ease-in-out; }
  .\000039gag .navbar-toggle:hover, .\000039gag .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.2); }
  .\000039gag .navbar-toggle .icon-bar {
    background-color: #DDD; }
  .\000039gag .navbar-toggle .navbar-collapse {
    border-color: #DDD; }

@media (max-width: 770px) {
  .\000039gag #content {
    padding: 10px 10px; }
  .\000039gag .btn-gallery-nav {
    padding: 8px 16px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px; }
    .\000039gag .btn-gallery-nav-left, .\000039gag .btn-gallery-nav-right {
      position: static; } }
