body.demotywatory {
	background-color: #2d2222;
	background-image: url('../images/demotywatory.png');
	background-repeat: repeat;
	background-position: center;
	color: #FFF;
    font-weight: 400;
    font-size: 18px;
	font-family: "Times New Roman", sans-serif;
}

/* Navigation */
.demotywatory nav#main-nav {
    background: rgba(24,16,12,1);
    background: -webkit-linear-gradient(rgba(36,24,24,1), rgba(14,1,3,1));
    background: -o-linear-gradient(rgba(36,24,24,1)), rgba(14,1,3,1));
    background: -moz-linear-gradient(rgba(36,24,24,1), rgba(14,1,3,1));
    background: linear-gradient(rgba(36,24,24,1), rgba(14,1,3,1));
}

.demotywatory nav#main-nav li {
    padding: 14px;
}

.demotywatory nav#main-nav a {
    color: #EEE;
}

.demotywatory nav#main-nav a.selected {
    color: #c91907;
    font-weight: bold;
    font-size: 20px;
}

.demotywatory #content {
	background-color: rgba(0, 0, 0, 0.2);
}

.demotywatory .post {
    margin: 10px 0;
}

.demotywatory .container {
    max-width: 600px;
}

.demotywatory .btn-primary {
	padding: 20px 100px;
	background-color: #c91907;
	border: none;
	color: #FFF;
	border-radius: 5px;
    font-size: 20px;
}

.demotywatory .btn-gallery-nav {
	padding: 15px;
	background-color: #c91907;
	border: none;
	font-size: 24px;
	border-radius: 5px;
}

/* Demotywatory wrapper classes */
.demot-frame img,
.demot-frame video {
    border: 1px solid white;
    padding-bottom: 2px; /* CSS is awesome */
}

.demot-frame {
    padding: 45px 45px 10px 45px;
    background-color: #000;
    text-align: center;
}

.demot-title {
    display: block;
    font-size: 34px;
    margin: 20px 0 10px;
}

.demot-caption {

}

@media (max-width:770px) {
	.demot-title {
	    display: block;
	    font-size: 24px;
	    margin: 15px 0 10px;
	}

	.demot-frame {
	    padding: 25px 25px 5px 25px;
	    background-color: #000;
	    text-align: center;
	}

	.demotywatory .btn-gallery-nav {
		padding: 8px 16px;
		margin-bottom: 8px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.demotywatory .btn-gallery-nav-left {
		position: static;
	}

	.demotywatory .btn-gallery-nav-right {
		position: static;
	}
}
