@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body.jbzd {
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
}

.jbzd {
  /* Navigation */
  nav#main-nav {
    background-color: rgb(192, 64, 64);
    border: none;
    a {
      color: #FFF;
    }
    a.selected {
      text-decoration: underline;
      font-size: 18px;
    }
  }

  .container {
    max-width: 700px;
  }

  #content {
    background-color: #0c0c0c;
    padding: 10px 60px;
  }

  .btn {
    border-radius: 4px;
    &-primary {
      padding: 20px 100px;
      color: #FFF;
      background-color: rgb(192, 64, 64);
      border: none;
      text-align: center;
    }
    &-gallery-nav {
      padding: 15px;
      color: #FFF;
      background-color: rgb(192, 64, 64);
      border: none;
    }
  }

  .navbar-toggle {
    border: 1px solid #DDD;
    transition: background-color 0.5s ease-in-out;
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .icon-bar {
      background-color: #DDD;
    }
  }
  .navbar-collapse {
    border-color: #DDD;
  }

  @media (max-width:770px) {
    #content {
      padding: 10px 10px;
    }

    .btn-gallery-nav {
      padding: 8px 16px;
      margin-bottom: 8px;
      margin-left: 2px;
      margin-right: 2px;
      &-left {
        position: static;
      }
      &-right {
        position: static;
      }
    }
  }
}
