body.kwejk {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Bitter', serif;
    font-size: 16px;
}

/* Navigation */
.kwejk nav#main-nav {
    background-color: #fac701;
    border: none;
}

.kwejk nav#main-nav a {
    color: #000;
}

.kwejk nav#main-nav a.selected {
    text-decoration: underline;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.kwejk .container {
    max-width: 700px;
}

.kwejk #content {
    background-color: #0c0c0c;
    padding: 10px 60px;
}

.kwejk .btn {
    border-radius: 4px;
}

.kwejk .btn-primary {
    padding: 20px 100px;
    color: #000;
    background-color: #fac701;
    border: none;
    text-align: center;
}

.kwejk .btn-gallery-nav {
    padding: 15px;
    color: #000;
    background-color: #fac701;
    border: none;
}

@media (max-width:770px) {
    .kwejk #content {
        padding: 10px 10px;
    }

	.kwejk .btn-gallery-nav {
		padding: 8px 16px;
		margin-bottom: 8px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.kwejk .btn-gallery-nav-left {
		position: static;
	}

	.kwejk .btn-gallery-nav-right {
		position: static;
	}
}
