body.mistrzowie {
	background-color: #f9f9f9;
	color: #000;
    font-weight: 400;
    font-size: 18px;
	font-family: "Arial";
}

/* Navigation */
.mistrzowie nav#main-nav {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mistrzowie nav#main-nav a {
    color: #333;
}

.mistrzowie nav#main-nav a.selected {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.mistrzowie .post {
    margin: 25px 0;
}

.mistrzowie .container {
    max-width: 600px;
}

.mistrzowie .btn-primary {
	padding: 20px 100px;
	background-color: #333;
	border: none;
	color: #FFF;
	border-radius: 5px;
    font-size: 20px;
}

.mistrzowie .btn-gallery-nav {
	padding: 15px;
	background-color: #333;
	border: none;
	font-size: 24px;
	border-radius: 5px;
}

@media (max-width:770px) {
	.mistrzowie .btn-gallery-nav {
		padding: 8px 16px;
		margin-bottom: 8px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.mistrzowie .btn-gallery-nav-left {
		position: static;
	}

	.mistrzowie .btn-gallery-nav-right {
		position: static;
	}
}
