body.thecodinglove {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Courier New', serif;
    font-size: 18px;
}

.thecodinglove .thecodinglove-title {
    display: block;
    margin: auto;
    margin-bottom: 3px;
}

.thecodinglove .container {
    max-width: 800px;
}

.thecodinglove .post img,
.thecodinglove .post video {
    width: auto;
    display: block;
    margin: auto;
}

.thecodinglove .post {
    margin: 30px 0;
}

/* Navigation */
.thecodinglove nav#main-nav {
    background-color: #FFF;
    border-bottom: 1px dashed #333;
}

.thecodinglove nav#main-nav li {
    padding: 14px;
}

.thecodinglove nav#main-nav a {
    color: #000;
}

.thecodinglove nav#main-nav a.selected {
    text-decoration: underline;
    font-size: 18px;
}

.thecodinglove .container {
    max-width: 700px;
    background-color: #FFF;
}

.thecodinglove #content {
    background-color: #FFF;
    text-align: center;
}

.thecodinglove .btn {
    border-radius: 4px;
}

.thecodinglove .btn-primary {
    padding: 20px 40px;
    color: #000;
    border: none;
    text-align: center;
    background: none;
    font-size: 28px;
}


@media (max-width:770px) {
    .thecodinglove #content {
        padding: 10px 10px;
    }

    .thecodinglove .post img,
    .thecodinglove .post video {
        width: 100%;
    }
}
