body, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.meta {
    margin: 5px;
}

div.post p {
    margin: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  border: none;
}

.container {
    width: 97%;
    max-width: 600px;
    margin: auto;
}

.next-page {
    text-align: center;
}

#content {
    padding: 10px 10px;
}

.post img,
.post video {
    width: 100%;
}

.post a {
    text-decoration: none;
    color: inherit;
}

nav#main-nav a {
    color: #000;
    text-decoration: none;
}

/* Gallery */
ul.gallery {
    list-style: none;
    padding: 0;
    position: relative;
}

ul.gallery > li {
    display: none;
}

ul.gallery > li.active {
    display: block;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  background-color: #333;
  margin: 10px;
  width: auto;
  text-decoration: none;
}

/* Gallery navigation buttons */
.btn-gallery-nav-left {
    position: absolute;
    top: 150px;
    left: -50px;
}

.btn-gallery-nav-right {
    position: absolute;
    top: 150px;
    right: -50px;
}

@media (max-width:770px) {
    #content {
        padding: 5px;
    }
}

.default {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.preview-text {
  padding-top: 2px;
  width: 100%;
  text-align: center;
  border-top: 5px dotted black;
}

.preview-text a {
  color: inherit;
  text-decoration: none;
}

.comments {
  margin: 10px 0;
}

.comment, .comment-response {
  margin: 10px 0;
}

.comment-author, .response-author {
  font-size: 0.8em;
  color: #CCC;
  font-weight: bold;
  margin-bottom: 2px;
}

.comment-responses {
  border-left: 1px solid #777;
}

.comment-response {
  margin-left: 20px;
}