body.thecodinglove {
  background-color: #f0f0f0;
  color: #000;
  font-family: 'Courier New', serif;
  font-size: 18px;
}

.thecodinglove {
  &-title {
    display: block;
    margin: auto;
    margin-bottom: 3px;
  }

  .container {
    max-width: 800px;
  }

  .post {
    margin: 30px 0;
    & img,
    & video {
      width: auto;
      display: block;
      margin: auto;
    }
  }

  /* Navigation */
  nav#main-nav {
    background-color: #FFF;
    border-bottom: 1px dashed #333;
    a {
      color: #000;
    }
    a.selected {
      text-decoration: underline;
      font-size: 18px;
    }
  }

  .container {
    max-width: 700px;
    background-color: #FFF;
  }

  #content {
    background-color: #FFF;
    text-align: center;
  }

  .btn {
    border-radius: 4px;
    &-primary {
      padding: 20px 40px;
      color: #000;
      border: none;
      text-align: center;
      background: none;
      font-size: 28px;
    }
  }

  @media (max-width:770px) {
    #content {
      padding: 10px 10px;
    }

    .post img,
    .post video {
      width: 100%;
    }
  }
}
