<div class="error" ng-if="error">
    {{ error }}
</div>
<div class="loading" ng-if="loading">
    ...
</div>
<div ng-repeat="post in data.memes" class="post">
    <h2><a ng-href="{{ post.url }}">{{ post.title }}</a></h2>
    <img ng-if="post.content.contentType == 'IMAGE' || post.content.contentType == 'GIF'" ng-src="{{ post.content.url }}">
    <div ng-if="post.content.contentType == 'PREVIEW'">
      <img ng-src="{{ post.content.url }}">
      <div class="preview-text"><a ng-href="{{ post.url }}">Preview</a></div>
    </div>
    <video ng-if="post.content.contentType == 'VIDEO'" muted autoplay controls loop>
        <source ng-src="{{ post.content.url }}">
    </video>
    <ul ng-if="post.content.contentType == 'GALLERY'" class="gallery">
        <button class="btn btn-gallery-nav btn-gallery-nav-left" ng-click="previousSlide(post)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-gallery-nav btn-gallery-nav-right" ng-click="nextSlide(post)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <li ng-repeat="url in post.content.urls" ng-class="post.currentSlide == $index ? 'active' : ''">
            <img ng-src="{{ url }}">
        </li>
    </ul>
    <a class="source-link" href="{{ post.url }}">Source</a>
</div>
<div class="next-page">
    <a ng-href="#{{ data.nextPage }}" class="btn btn-primary">Next page</a>
</div>
