<div class="error" ng-if="error">
    An error occured, please try again.
</div>
<div class="loading" ng-if="loading">
    ...
</div>
<div ng-repeat="post in data.memes" class="post">
    <h2><a ng-href="{{ post.url }}">{{ post.title }}</a></h2>
    <img ng-if="post.content.contentType == 'IMAGE' || post.content.contentType == 'GIF'" ng-src="{{ post.content.url }}">
    <div ng-if="post.content.contentType == 'VIDEO'" class="demot-frame">
        <a ng-href="{{ post.url }}">
            <video muted autoplay controls loop>
                <source ng-src="{{ post.content.url }}">
            </video>
            <span class="demot-title">{{ post.title }}</span>
            <span class="demot-caption">{{ post.description }}</span>
        </a>
    </div>
    <ul ng-if="post.content.contentType == 'GALLERY'" class="gallery">
        <button class="btn btn-gallery-nav btn-gallery-nav-left" ng-click="previousSlide(post)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-gallery-nav btn-gallery-nav-right" ng-click="nextSlide(post)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <li ng-repeat="url in post.content.urls" ng-class="post.currentSlide == $index ? 'active' : ''">
            <img ng-src="{{ url }}">
        </li>
    </ul>
    <ul ng-if="post.content.contentType == 'CAPTIONED_GALLERY'" class="gallery" ng-init="post.currentSlide = 0">
        <button class="btn btn-gallery-nav btn-gallery-nav-left" ng-click="previousSlide(post)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-gallery-nav btn-gallery-nav-right" ng-click="nextSlide(post)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <li ng-repeat="image in post.content.images" ng-class="post.currentSlide == $index ? 'active' : ''">
            <h4>{{ image.title }}</h4>
            <img ng-src="{{ image.url }}">
            <p>
                {{ image.caption }}
            </p>
        </li>
    </ul>
    <div class="meta">
        <div class="comments">
            <a ng-href="{{ post.url }}">Komentarzy: {{ post.commentAmount }}</a>
        </div>
    </div>
</div>
<div class="next-page">
    <a ng-href="#{{ data.nextPage }}" class="btn btn-primary">Następna strona</a>
</div>
