@import '~vuetify/src/stylus/settings/_theme'
$material-dark.background = darken($material-dark.background, 8)
$material-dark.cards = darken($material-dark.cards, 8)

@import '~vuetify/src/stylus/main'