.meme {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.meme img {
    width: 100%;
}

.meme video {
    width: 100%;
}

.meme a {
    color: inherit;
    text-decoration: none;
}

.meme h1 {
    margin-bottom: 4px;
}

.meme .meta {
    display: flex;
    flex-direction: row;
}

.meme .meta .comments {
    width: 50%;
}

.meme .meta .source {
    width: 50%;
    text-align: right;
}